@import "tailwindcss";

:root {
  --background: #F5F0DF;
  --foreground: #0C1014;
  --picton-blue: #5DAFD5;
  --eggshell: #F5F0DF;
  --cerulean: #2978A5;
  --cadet-gray: #90A4AE;
  --rich-black: #0C1014;
  --navbar-height: 4rem;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 5rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-picton-blue: #5DAFD5;
  --color-eggshell: #F5F0DF;
  --color-cerulean: #2978A5;
  --color-cadet-gray: #90A4AE;
  --color-rich-black: #0C1014;
}

body {
  background: var(--rich-black);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-sans), sans-serif;
  color: var(--rich-black);
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox scrollbar */
* {
  scrollbar-width: none;
}
