@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0C1014;
  --picton-blue: #5DAFD5;
  --eggshell: #ffffff;
  --cerulean: #2978A5;
  --cadet-gray: #90A4AE;
  --rich-black: #0C1014;
  --navbar-height: 4rem;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 5rem;
  }
}

html,
body {
  overscroll-behavior-y: none;
}

body {
  background: var(--rich-black);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-sans), sans-serif;
  color: inherit;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox scrollbar */
* {
  scrollbar-width: none;
}
